.profileContainer
    margin-top: 102px
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    gap: 38px
    min-width: 300px

.sibaInfoContainer
    display: flex
    flex-direction: column
    gap: 8px
    align-items: center
    width: 100%

.avatarFrame
    display: flex
    align-items: center
    justify-content: center
    width: 96px
    height: 96px
    border: 3px solid transparent
    border-radius: 16px
    padding: 2px
    box-sizing: border-box

.wantToWalk
    border-color: #2BB26E

.avatarImage
    width: 92px
    height: 92px
    border-radius: 12px

.sibaName
    font-size: 64px
    margin: 0

.statsRow
    display: flex
    justify-content: space-around
    width: 100%

.mutedText
    color: #74736E

.ownerCard
    display: flex
    flex-direction: column
    width: -webkit-fill-available
    gap: 8px
    background: #FEAE11
    border-radius: 20px
    padding: 12px
    align-items: flex-start
    flex-wrap: wrap
    box-shadow: 0px 4px 8px 0px #67645E1A

.ownerMain
    display: flex
    align-items: center
    gap: 8px

.ownerInfo
    display: flex
    align-items: center
    gap: 8px
    flex-wrap: wrap
    min-height: 32px

.progressContainer
    display: flex
    gap: 8px
    background: #FEAE11
    padding: 8px
    border-radius: 30px
    align-items: center
    box-shadow: 0px 4px 8px 0px #67645E1A

.achievements
    display: flex
    flex-direction: column
    width: 100%
    gap: 12px

.progressTitle
    display: flex
    width: 100px
    min-width: 100px
    gap: 8px
    align-items: center
    span
        color: #74736E
        font-size: 14px
